:root{
    --color-mian: #605B56;
    --second-color: #837A75;
    --text-bg-box : #7DAA92;
    --text-color: #C2FBEF;
    --text-title: #090921;
} 

.img{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin: 20px 100px;
    gap: 20px;
    background-color: var(--text-bg-box);
    border-radius: 40px;
    box-shadow: 0px 0px 20px beige;
}

.counter{
    width: 300px;
    height: 300px;
}

.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
    filter: grayscale(100);
}

.imagen:hover{
    box-shadow: 0px 0px 20px white;
    transform: scale(1.1);
    filter: grayscale(0);
    transform: rotate(360deg);
}

@media(min-width: 1830px){
    .img{
        width: 1800px;
        height: 800px;
        margin: 20px auto;
    }

    .imagen{
        display: inline-block;
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 600px){
    .counter{
        width: 200px;
        height: 200px;
    }
}

@media(max-width: 480px){
    .counter{
        width: 100px;
        height: 100px;
    }
}