:root{
    --color-mian: #605B56;
    --second-color: #837A75;
    --text-bg-box : #7DAA92;
    --text-title: #c6eae2;
} 

section{
    font-size: 2rem;
    margin: 20px 0;
    padding: 30px;
}

.sub_menu{
    margin-top: 20px;
}

ul{
    margin: 0px 50px;
}

.sub_subtitle{
    color: var(--text-title);
    background-color: var(--text-bg-box);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.list_sub_menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    flex-wrap: wrap;
}

.link_item{
    border: 3px solid var(--text-bg-box);
    border-radius: 20px;
    padding: 15px;
    color: var(--text-title);
    background-color: var(--second-color);
}

section > p{
    margin: 10 20;
    padding: 20px;
}

@media (max-width: 850px){
    .list_sub_menu{
        width: 600px;
        height: 150px;
    }
}

@media (max-width: 760px){
    .list_sub_menu{
        width: 500px;
        height: 150px;
    }
}

@media (max-width: 650px){
    .list_sub_menu{
        width: 400px;
        height: 150px;
    }
}   

@media (max-width: 540px){
    .list_sub_menu{
        width: 300px;
        height: 200px;
    }
} 

@media (max-width: 350px){
    .list_sub_menu{
        width: 200px;
        height: 200px;
    }
} 